.button {
  position: relative;
  z-index: 2;
  display: block;
  min-width: 80%;
  margin: 0 auto;
  padding: var(--smallish);
  overflow: hidden;
  @extend %display;
  color: var(--sec);
  background: transparent;
  border: none;
  border-bottom: 3px solid color-mod(var(--ter) shade(10%));
  transition: 0.5s ease;
}

.button::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  display: block;
  width: 100%;
  height: 100%;
  background: var(--ter);
  content: "";
}

.button::after {
  position: absolute;
  top: 0px;
  right: 50%;
  bottom: 0px;
  left: 50%;
  z-index: -1;
  display: block;
  background: transparent;
  opacity: 0;
  transition: 0.5s ease;
  content: "";
}

.button:hover,
.button:focus {
  color: var(--ter);
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.5s ease;
}

.button:hover::after,
.button:focus:after {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--sec);
  opacity: 1;
  transition: 0.5s ease;
}

input,
textarea {
  color: var(--black);
  background: none;
  border: none;
}

input {
  border-bottom: 3px solid var(--pri);
}

label {
  @extend %display;
  margin-bottom: var(--smallish);
}

.req::after {
  color: var(--bright);
  font-size: 1.2rem;
  vertical-align: super;
  content: "⁎";
}

::placeholder {
  color: var(--pri);
  font-weight: 300;
  font-size: 0.8rem;
  vertical-align: center;
  opacity: 0.5;
}

input,
textarea,
button {
  margin-bottom: calc(2 * var(--std));
}
