header {
  display: flex;
  justify-items: center;
  position: fixed;
  background: var(--white);
  width: 100%;
  margin:0;
  padding-top: var(--std);
}

header::before {

    content: '';
    width: 100%;
    height: 170%;
    position: absolute;
    background: var(--white);
    z-index: -1;
    clip-path: url('#hdClip');
}

.fixed nav {
  display: flex;
  width: auto;
}

.ondark .site-title {
  color: var(--white);
}

.ondark .logo svg {
  fill: var(--white);
}

.logo svg {
  width: 36px;
  fill: var(--bright);
}

.brand {
  text-align: left;
  background: none;
}

.site-title {
  grid-area: name;
  color: var(--sec);
  @extend %display;
  font-size: 1.4rem;
}

.menu {
  display: flex;
  grid-area: menu;
  align-items: center;
  width: 100%;

  @extend %display;
}

.menu li {
  flex: 1;
  text-align: center;
}
.menu a {
  position: relative;
  display: inline-block;
  color: var(--sec);
}

@media (--narrow) {
  header.fixed {
    bottom: 0;
    z-index: 10;
    width: calc(100% - (var(--std)));
    padding: var(--smallish);

  }

  .fixed .site-title {
    display: none;
  }

  .fixed .nav {
    width: 100%;
  }

  .fixed a {
    color: var(--pri);
  }


}

@media (--mid) {

  header::before {

    content: '';
    width: 100%;
    height: 170%;
    position: absolute;
    background: var(--white);
    z-index: -1;
    clip-path: url('#hdClip');
}
  .logo svg {
    width: 42px;
    margin: 0 var(--std);
  }

  .site-title {
    letter-spacing: 1px;
    font-size: 1.6rem;
  }

  .site-title span {
    margin-left: var(--small);
  }
}
