h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1;
  margin-bottom: var(--small);
}

%title {
  font-size: scaletext(20rem, 50rem, 2.027rem, 3.815rem, 150vw);
  line-height: 0.8;
}
h1,
.h1 {
  font-size: scaletext(20rem, 50rem, 2.027rem, 3.815rem, 100vw);
}

h2,
.h2 {
  font-size: scaletext(20rem, 50rem, 1.802rem, 3.025rem, 100vw);
}

h3,
.h3 {
  font-size: scaletext(20rem, 50rem, 1.602rem, 2.441rem, 100vw);
}

h4,
.h4 {
  font-size: scaletext(20rem, 50rem, 1.424rem, 1.953rem, 100vw);
}

h5,
.h5 {
  font-size: scaletext(20rem, 50rem, 1.266rem, 1.563rem, 100vw);
}

h6,
.h6 {
  font-size: scaletext(20rem, 50rem, 1.125rem, 1.25rem, 100vw);
}

.cat-head {
  display: flex;
  align-items: center;
  justify-content: right;
  width: 100%;
  @extend %display;
  font-size: 1.5em;
  line-height: 0.8;
}

.cat-head:after {
  position: relative;
  display: inline-block;
  width: 100px;
  height: var(--small);
  margin-left: var(--smallish);
  background: var(--black);
  content: "";
}

.display {
  @extend %display;
}
