header {
  position: fixed;
  z-index: 3;
  display: flex;
  justify-items: center;
  width: 100%;
  margin: 0;
  padding-top: var(--std);
  background: var(--white);
}

header::before {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 170%;
  background: var(--white);
  content: "";
  clip-path: url("#hdClip");
}

nav > * {
  z-index: 1;
}

.fixed nav {
  display: flex;
  width: auto;
}

.fixed .logo {
  margin: 0 var(--std);
}

.ondark .site-title {
  color: var(--white);
}

.ondark .logo svg {
  fill: var(--white);
}

.logo {
  background: none;
}

.logo svg {
  width: 36px;
  fill: var(--bright);
}

.brand {
  text-align: left;
  background: none;
}

.site-title {
  grid-area: name;
  color: var(--sec);
  @extend %display;
  font-size: 1.4rem;
}

.menu {
  display: flex;
  grid-area: menu;
  align-items: center;
  width: 100%;
  @extend %display;
}

.menu li {
  flex: 1;
  text-align: center;
}
.menu a {
  position: relative;
  display: inline-block;
  color: var(--sec);
}

@media (--narrow) {
  header.fixed {
    bottom: 0;
    z-index: 10;
    width: calc(100% - (var(--std)));
    padding: var(--smallish);
  }

  .fixed .site-title {
    display: none;
  }

  .fixed .nav {
    width: 100%;
  }

  .fixed a {
    color: var(--pri);
  }
}

@media (--mid) {
  header::before {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 170%;
    background: var(--white);
    content: "";
    clip-path: url("#hdClip");
  }
  .logo svg {
    width: 42px;
  }

  .site-title {
    font-size: 1.6rem;
    letter-spacing: 1px;
  }

  .site-title span {
    margin-left: var(--small);
  }
}
