header {
  display: flex;
  justify-items: center;
  margin-top: var(--std);
}

.fixed {
  position: fixed;
}

.fixed nav {
  display: flex;
  width: 100%;
  padding-left: var(--std);
}

.ondark .site-title {
  color: var(--white);
}

.ondark .logo svg {
  fill: var(--white);
}

.logo svg {
  width: 36px;
  margin-right: var(--std);
  fill: var(--pri);
}

.brand {
  text-align: left;
  background: none;
}

.site-title {
  grid-area: name;
  color: var(--pri);
  @extend %display;
  font-size: 1.4rem;
}

.menu {
  display: flex;
  grid-area: menu;
  align-items: center;
  width: 100%;
  max-width: 300px;
  @extend %display;
}

.menu li {
  flex: 1;
  text-align: center;
}
.menu a {
  position: relative;
  display: inline-block;
}

@media (--narrow) {
  header.fixed {
    bottom: 0;
    width: calc(100% - (var(--std)));
    padding: var(--smallish);
    background: var(--white);
  }

  .fixed .site-title {
    display: none;
  }

  .fixed a {
    color: var(--pri);
  }

  .fixed .logo {
    fill: var(--pri);
  }
}

@media (--mid) {
  .logo svg {
    width: 42px;
  }

  .site-title {
    letter-spacing: 1px;
    font-size: 1.6rem;
  }

  .site-title span {
    margin-left: var(--small);
  }
}
