body a {
  margin: 0;
  padding: 0;
  padding-bottom: var(--small);
  color: var(--pri);
  line-height: 1;
  text-decoration: none;
  transition: 0.3s;
}

main a {
  color: var(--pri);
  background: radial-gradient(
    circle closest-side,
    var(--black) calc(100% - 0.5px),
    transparent 100%
  );
  background-repeat: repeat-x;
  background-size: 8px 4px;
  background-position: 0 bottom;
}

p a {
  background-position: left 0 bottom 4px;
  background-size: 8px 3px;
}

p a:hover,
p a:focus {
  animation: border-dance-sm 8s infinite;
}

.bright {
  color: var(--ter);
  float: left;
}

a:hover,
a:focus {
  animation: border-dance-lg 8s infinite;
}

@keyframes border-dance-lg {
  0% {
    background-position: 0 bottom;
  }
  100% {
    background-position: 300px bottom;
  }
}

@keyframes border-dance-sm {
    0% {
    background-position: left 0 bottom 4px;
  }
  100% {
    background-position: left 300px bottom 4px;
  }
}

.menu a,
.tags a,
.bright {
  background: none;
}

.menu a:after,
.tags a:after,
.bright::after {
  display: block;
  width: 0px;
  height: 3px;
  margin: auto;
  background: transparent;
  border-bottom: 3px dotted;
  transition: width 0.5s ease, background-color 0.5s ease;
  content: "";
}

.menu a:hover:after,
.tags a:hover:after,
.menu a:focus:after,
.tags a:focus:after,
.bright:focus::after,
.bright:hover::after {
  width: 100%;
}

.tags a {
  font-size: 0.8rem;
  color: var(--pri);
}

.tags a::after {
  margin-top: calc(-1 * var(--small));
  border-width: 2px;
}

.cta {
  display: table;
  margin: auto;
  padding: var(--smallish) var(--std);
  color: var(--sec);
  @extend %lower;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  background: var(--ter);
  border-radius: 100px;
  transform: perspective(1px) translateZ(0);
}

@keyframes buzz-out-on-hover {
  10% {
    transform: translateX(3px) rotate(2deg);
  }
  20% {
    transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    transform: translateX(3px) rotate(2deg);
  }
  40% {
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    transform: translateX(1px) rotate(0);
  }
  100% {
    transform: translateX(-1px) rotate(0);
  }
}

.cta:hover,
.cta:focus,
.cta:active {
  animation: buzz-out-on-hover 1s linear;
}

.gallery a::after {
  all: unset;
}
