.simplebar-content {
  display: grid;
  grid-auto-columns: min-content;
  grid-auto-flow: column;
  width: 100vw;
}

@media (--wide) {
  .simplebar-content {
    display: block;
    width: auto;
  }
}
