.social {
  display: inline-flex;
  padding: 0 var(--std);
}

.social svg {
  width: 16px;
  padding: 0 var(--small);
  fill: var(--black);
}

.social a:after {
  all: unset;
}

.ondark .social svg {
  fill: var(--white);
}
