html {
  background: var(--white);
}

body {
  color: var(--black);
  font-size: 1em;
  font-family: var(--mainfont);
  line-height: 1.4;
}

body:before {
  position: fixed;
  z-index: -1;
  display: block;
  width: 100vw;
  height: 100vh;
  background: url(/static/img/bg.svg) repeat-x;
  background-position: bottom right;
  background-size: auto 100vh;
  filter: brightness(60%) sepia(20%) saturate(1000%) hue-rotate(220deg);
  mix-blend-mode: color-burn;
  content: "";
}

.dark {
  color: var(--white);
  background: var(--black);
}

main {
  padding: 0 var(--std);
}

section {
  margin-top: var(--std);
}

p {
  max-width: 37em;
  margin-top: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

blockquote {
  margin: 0;
  padding: 0;
}

cite {
  @extend %lower;
  font-weight: bold;
  font-style: normal;
}

.color-bg {
  color: var(--white);
  background: var(--sec);
}
