html {
  color: var(--black);
  background: var(--white);
}

body {
  margin-bottom: calc(4 * var(--std));
  font-size: 1em;
  font-family: var(--mainfont);
  line-height: 1.4;
}

body:before {
  position: fixed;
  z-index: -1;
  display: block;
  width: 100vw;
  height: 100vh;
  background: url(/static/img/bg.svg) repeat-x;
  background-position: bottom right;
  background-size: auto 100vh;
  filter: brightness(60%) sepia(20%) saturate(1000%) hue-rotate(220deg);
  mix-blend-mode: color-burn;
  content: "";
}

main {
  min-height: 80vh;
  padding: 0 var(--std);
}

section {
  margin-top: var(--std);
}

p {
  max-width: 37em;
  margin-top: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

blockquote {
  margin: 0;
  padding: 0;
}

cite {
  @extend %lower;
  font-weight: bold;
  font-style: normal;
}

.color-bg {
  color: var(--white);
  background: var(--sec);
}

hr {
  width: 90%;
  height: 1.3px;

  margin: 0 auto;
  background: var(--sec);
  border: none;
  opacity: 0.1;
}

img {
  max-width: 100%;
}

.warn {
  color: var(--warn);
  font-size: 1.4rem;
}

.tags {
  display: flex;
}

.tags li {
  padding-right: var(--std);
}

.gallery {
  display: grid;
  grid-gap: var(--smallish);
  grid-template-columns: 1fr 1fr 1fr;
  max-height: 800px;
}

.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
