.invert {
  color: var(--white);
  background: var(--black);
}

.invert body {
background: url('/static/img/empty.svg');

}





.notfound {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: 30vh;
}