.blog {
  position: relative;
  padding: 0 var(--std);
}

.blog-post {
  display: grid;
  grid-column-gap: var(--std);
  grid-template-columns: auto auto auto;
  justify-content: left;
  width: 80vw;
  max-width: 400px;
  margin-bottom: calc(2 * var(--std));
}

.blog-title,
.blog-sum,
.blog-date,
.blog-tags {
  grid-column: span 2;
}

.blog-date {
  grid-row: 1;

  margin: 0;
}

.blog-title {
  @extend %display;
  line-height: 1.4;
  padding-bottom: var(--smallish);
}

.blog-desc {
  margin-bottom: calc(3 * var(--std));
}

.blog-desc p {
  margin-top: var(--small);
}

@media (--wide) {
  .blog {
    margin-left: 5vw;
    max-width: 1000px;
  }

  .blog-content {
    margin-left: 360px;
    height: 100%;
  }

  .blog-post {
    max-width: 100%;
  }

  .blog-desc {
    position: fixed;
    width: 300px;
    margin-top: 100px;
  }
}
