.blog-post {
  display: grid;
  grid-column-gap: var(--std);
  grid-template-columns: auto auto auto;
  justify-content: left;
  width: 80vw;
  max-width: 400px;
  margin-bottom: calc(2 * var(--std));
}

.blog-post::before {
  display: block;
  grid-row: span 4;
  width: 3px;
  background: var(--black);
  content: "";
}

.blog-title,
.blog-sum,
.blog-date,
.blog-tags {
  grid-column: span 2;
}

.blog-date {
  grid-row: 1;
  grid-column-start: 2;
  margin: 0;
}

.blog-title {
  @extend %display;
}

@media (--wide) {
  .blog {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-areas: "side article";
    grid-column-gap: calc(3 * var(--std));
  }

  .blog-post {
    max-width: 100%;
  }

  .about {
    grid-area: side;
  }
}
