.blog {
  position: relative;
  padding: 0 var(--std);
}

.blog-post {
  display: -ms-grid;
  display: grid;
  grid-column-gap: var(--std);
  -ms-grid-columns: auto auto auto;
  grid-template-columns: auto auto auto;
  justify-content: left;
  width: 80vw;
  max-width: 400px;
  margin-bottom: calc(2 * var(--std));
}

.blog-title,
.blog-sum,
.blog-date,
.blog-tags {
  -ms-grid-column-span: 2;
  grid-column: span 2;
}

.blog-date {
  -ms-grid-row: 1;
  grid-row: 1;
  margin: 0;
}

.blog-title {
  padding-bottom: var(--smallish);
  @extend %display;
  line-height: 1.4;
}

.blog-desc {
  margin-bottom: calc(3 * var(--std));
}

.blog-desc p {
  margin-top: var(--small);
}

.blog {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: var(--std);
  }
}

.blog img {
  margin: var(--std) 0;
}

@media (--wide) {
  .blog {
    max-width: 1000px;
    margin-left: 5vw;
  }

  .blog-content {
    height: 100%;
    margin-left: 360px;
  }

  .blog-post {
    max-width: 100%;
  }

  .blog-desc {
    position: fixed;
    width: 300px;
    margin-top: 100px;
  }
}
