.atf {
  display: grid;
  justify-items: center;
  align-items: center;
  height: 100vh;

  padding: 0 var(--std);
  margin-top: -15vh;
  padding-bottom: 50px;

  color: var(--pri);
  background: url("/static/img/starsbg.svg"), var(--black);
  background-size: 1200px;
  background-position: 40% 80%;
}

.atf nav {
  display: grid;
  width: 300px;
  grid-column-gap: var(--smallish);
  grid-template-areas:
    "logo menu"
    "name name";
  grid-template-columns: auto 1fr;
  align-items: center;
  text-align: center;
}

.atf .nav::before {
  clip-path: url("#atfClip");
  content: "";
  display: block;
  width: 100vw;
  height: 100vw;
  background: var(--white);
  position: absolute;
  z-index: 0;
  left: calc(-1 * var(--small));
  transform: rotate(90deg);
}

.atf .menu {
  max-width: 300px;
}

.ondark a:not(.cta) {
  color: var(--white);
}

.ondark a::after {
  border-color: var(--white);
}

.atf p {
  max-width: 400px;
  margin-top: var(--small);
  background: var(--black);
}

.brand {
  grid-area: name;
}

.atf .site-title {
  text-align: center;
  margin-bottom: var(--std);
  color: var(--pri);
  @extend %title;
}

.intro {
  color: var(--white);
  padding: var(--std);
  margin-top: var(--std);
  align-self: start;
}

.intro h2 {
  background: var(--black);
  display: inline;
}

.strengths {
  padding: var(--std);
  color: var(--white);
  background: url("/static/img/rocket.svg") no-repeat;
  background-size: 250%;
  background-attachment: fixed;
  background-position: -30vw 5%;
  background-origin: content-box;
  position: relative;
  transition: .8s ease;
}

.strengths span {
  position: sticky;
  top: 35px;
}

.strengths::before {
  z-index: -1;
  display: block;
  width: 100%;
  height: 100%;
  background: url("/static/img/bg.svg"), var(--black);
  content: "";
  position: fixed;
  left: 0;

  background-size: 100vw;

  background-position: 40% -90%;
}



.strength {
  box-sizing: border-box;
  height: calc(100vh + var(--smallish));
  padding-top: calc(3 * var(--std));
}

.strength::before {
  float: right;
  height: 100%;
  width: 50%;
  shape-outside: polygon(
    106.98% -17px,
    107.12% 88.64%,
    20.56% 92.16%,
    28.6% 73.86%,
    45.22% 61.82%,
    42.41% 43.58%,
    40.94% 26.28%,
    44.54% 12.21%,
    51.49% -5.24%,
    60% -18.2%,
    74.42% -32.21%
  );
  content: "";
}

.capacity {
  display: grid;
  grid-gap: var(--std);

  padding: var(--std);
  padding-top: 100px;
  margin: 0 auto;

  max-width: 600px;
  color: var(--sec);
}

.stories {
  position: relative;
  color: var(--white);
  padding-top: var(--std);
}

.stories::before {
  background: var(--black);
  content: "";
  width: 100%;
  height: 130%;
  margin-top: calc(-1 * var(--std));
  display: block;
  position: absolute;
  z-index: -1;
}

.stories .display {
  margin-left: var(--std);
}

@media (--mid) {
  .atf {
    padding: 0 var(--std);
    height: calc(100vh + 20px);
  }

  .atf .nav {
    width: 50vw;
  }

  .intro {
    align-self: center;
  }

  .strengths {
    max-width: 1000px;
    padding: 0 calc(50% - 500px);
  }

  .strengths::before {
    position: fixed;
    width: 120vw;
    height: 100vh;

    -webkit-clip-path: url("#strClip");
    clip-path: url("#strClip");
    top: var(--std);
    left: -10vw;
    opacity: 0;
  }

  .strengths::after {

    content: '';
    width: 100%;
    height: 400px;
    background: url('/static/img/cloud.svg');
    position: absolute;
    bottom: calc(-15% + 10vw);
    left:0;
    background-position: -300px;

    background-size: 110vw;
    background-position: -5vw 0;
    z-index: -1;

}

  .fixedBG::before {
    opacity: 1;
  }

  .strength {
    padding-top: calc(50vh - 100px);
    padding-left: var(--std);
  }

  .strength p {
    max-width: 500px;
  }
  .stories::before {
    height: 125%;
  }
}

@media (--wide) {
  .atf {
    grid-template-columns: 1fr 1fr;
    padding-left: 5%;
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
    grid-gap: 100px;
    align-items: center;
    justify-items: center;
  }

  .atf .nav {
    margin-top: 0;
    width: auto;
  }

  .atf .nav::before {
    width: 75vw;
    height: 100vh;
    transform: rotate(0deg);
  }

  .strengths {
    background-size: 2000px;
  }

  .strength::before {
    shape-outside: polygon(
      106.98% -17px,
      107.12% 88.64%,
      88.23% 97.01%,
      60.07% 96.86%,
      13.51% 97.26%,
      9.75% 85.57%,
      8.62% 70.37%,
      7.92% 51.88%,
      12.31% 32.74%,
      16.2% 18.93%,
      30.4% -3.31%,
      226px -27.92%
    );
  }

  .step-one {
    background-position: top 0 right -800px;
  }

  .step-two {
        background-position: top 25% right -800px;
  }

  .step-three {
        background-position: top 50% right -800px;
  }

  .step-four {
        background-position: top 75% right -800px;
  }

  .capacity {
    grid-column-gap: 60px;
    grid-template-columns: 1fr 1fr;
    max-width: 1000px;
  }

  .skills {
    grid-row: span 2;
  }

  .stories {
    max-width: 1000px;
    display: grid;
    grid-column-gap: var(--std);
    grid-template-columns: min-content auto;
    grid-auto-flow: column;
    padding: 0 calc(50vw - 500px);
    padding-top: 120px;
  }

  .stories::before {
    clip-path: url("#testClip");
    margin-left: 0;
  }
}
