.gal-project a:first-child {
  grid-row: span 3;
  grid-column: span 1;
}

.gal-project a:nth-child(2) {
  grid-row: span 4;
  grid-column: span 2;
}

.gal-project a:nth-child(3) {
  grid-row: span 3;
  grid-column: span 1;
}

.gal-project a:nth-child(4) {
  grid-row: span 2;
  grid-column: span 1;
}

.gal-project a:nth-child(5) {
  grid-row: span 3;
  grid-column: span 1;
}

.gal-project a:nth-child(6) {
  grid-row: span 3;
  grid-column: span 2;
}

.gal-project a:nth-child(7) {
  grid-row: span 2;
  grid-column: span 1;
}

.slbOverlay {
  background: color-mod(var(--sec) shade(82%));
  opacity: 0.8;
  backdrop-filter: blur(20px);
}
.slbImageWrap {
  max-width: 70%;
  margin: 0 auto;
}
.slbArrow {
  opacity: 1;
  transition: 0.2s;
}

.slbArrow:before,
.slbCloseBtn {
  color: var(--ter);
  text-indent: 0;
  border: none;
  transition: 0.2s;
}

.next::before {
  right: var(--smallish);
  content: "\01F872";
}

.prev::before {
  content: "\01F870";
}

.slbArrow:hover,
.slbCloseBtn:hover {
  opacity: 1;
  transition: 0.2s;
}
