.project {
  display: grid;
  margin: 0 auto;
  max-width: 600px;
}

.project-sum {
  margin-top: var(--std);
}

.gal-project {
  grid-row-start: 1;
  margin-bottom: var(--std);
}

.single {
  grid-row: span 7;
  grid-column: span 8;
}
.gal-project a:not(.single):first-child {
  grid-row: span 3;
  grid-column: span 1;
}

.gal-project a:nth-child(2) {
  grid-row: span 4;
  grid-column: span 2;
}

.gal-project a:nth-child(3) {
  grid-row: span 3;
  grid-column: span 1;
}

.gal-project a:nth-child(4) {
  grid-row: span 2;
  grid-column: span 1;
}

.gal-project a:nth-child(5) {
  grid-row: span 3;
  grid-column: span 1;
}

.gal-project a:nth-child(6) {
  grid-row: span 3;
  grid-column: span 2;
}

.gal-project a:nth-child(7) {
  grid-row: span 2;
  grid-column: span 1;
}

.slbOverlay {
  background: color-mod(var(--sec) shade(82%));
  opacity: 0.8;
  backdrop-filter: blur(20px);
}
.slbImageWrap {
  max-width: 70%;
  margin: 0 auto;
}
.slbArrow {
  opacity: 1;
  transition: 0.2s;
}

.slbArrow:before,
.slbCloseBtn {
  color: var(--ter);
  text-indent: 0;
  border: none;
  transition: 0.2s;
}

.next::before {
  right: var(--smallish);
  content: "\01F872";
}

.prev::before {
  content: "\01F870";
}

.slbArrow:hover,
.slbCloseBtn:hover {
  opacity: 1;
  transition: 0.2s;
}

@media (--wide) {
  .project {
    max-width: 1200px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 80vh 1fr;
    grid-gap: calc(2 * var(--std));
  }

  .gal-project {
    grid-column-start: 1;
    grid-row: 1/3;
  }
}
