h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 2;
}
.site-title {
  margin-bottom: var(--std);
  color: var(--black);
  @extend %display;
}

.title-atf {
  bottom: 0;
  font-size: 3.8em;
  line-height: 0.8;
  text-align: center;
}

.cat-head {
  display: flex;
  align-items: center;
  justify-content: right;
  width: 100%;
  @extend %display;
  font-size: 1.5em;
  line-height: 0.8;
}

.cat-head:after {
  position: relative;
  display: inline-block;
  width: 100px;
  height: var(--small);
  margin-left: var(--smallish);
  background: var(--black);
  content: "";
}

.post-title {
  @extend %display;
}
