header {
  display: flex;
  justify-items: center;
  margin-top: var(--std);
}

.nav {
  display: flex;
align-items: center;
  padding: 0 var(--std);
}

@media (--small) {
  .fixed {
    position: fixed;
    bottom: 0;
    width: calc(100% - (var(--std)));
    padding:  10px;
    background: var(--sec);
  }

  .fixed .site-title {
    display: none;
  }

  .fixed a {
    color: var(--white);
  }

  .fixed .logo {
    fill: var(--white);
  }
}

.brand {
  display: flex;
}

.logo {
  width: 36px;
  fill: var(--black)
}

.menu {
  display: flex;
  width: 100%;
  margin-left: 10px;
  @extend %display;
}

.menu li {
  flex: 1;

}
