header {
  display: flex;
  justify-items: center;
  margin-top: var(--std);
}

.nav {
  
  display: flex;
  width: calc(100% - (2 * var(--std)));
  padding: 0 var(--std);
}




.brand {
  display: flex;
}

.logo {
  width: 40px;
}

.menu {
  display: flex;
  width: 100%;

  @extend %display;
}

.menu li {
  flex: 1;
  text-align: center;
}
