.site-title {
  margin: 0;
  color: var(--black);
  @extend %display;
  font-size: scale(20em, 50em, 3em, 8em, 100vw);
  line-height: 0.8;
  text-align: center;
}

.cat-head {
  @extend %display;
}

.cat-head:after {
  position: relative;
  bottom: var(--std);
  display: inline-block;
  width: 100%;
  height: var(--small);
  background: var(--black);
  content: "";
}

.dark .cat-head:after {
  background: var(--white);
}
