a {
  display: inline-block;
  margin: 0;
  padding: 0;
  color: var(--pri);
  text-decoration: none;
}

.cta {
  padding: var(--small) var(--std);
  color: var(--pri);
  @extend %lower;
  font-weight: 600;
  text-align: center;
  border: 3px solid var(--pri);
  border-radius: 100px;
}

.cta-bright {
  border-color: var(--pri);
}
