.social {
  display: inline-flex;
  padding: 0 var(--std);

}

.ico svg {
  fill: var(--pri);
  width: 16px;
  padding: 0 var(--small);
}

.ico a:after {
  all: unset;
}
.ico span {
  display: none;
}

.named svg {
  display: none;
}
