.testimonial p:before,
.testimonial p:after {
  position: relative;
  top: 10px;
  left: var(--small);
  color: var(--pri);
  @extend %display;
  font-size: 2em;
  line-height: 0;
  content: "“ ";
}

.testimonial p:after {
  content: "”";
}

.testimonial cite:before {
  position: relative;
  top: -4px;
  display: inline-block;
  width: 30px;
  height: 3px;
  margin-right: 10px;
  background: var(--black);
  content: "";
}

.testimonial a {
  display: block;
  font-weight: normal;
}
