
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,400i,600&display=swap");
/*----- SIMPLE LIGHTBOX -----*/
.slbOverlay,
.slbWrapOuter,
.slbWrap {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.slbOverlay {
  overflow: hidden;
  z-index: 2000;
  background-color: #000;
  opacity: 0.7;
  -webkit-animation: slbOverlay 0.5s;
  animation: slbOverlay 0.5s;
}
.slbWrapOuter {
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 2010;
}
.slbWrap {
  position: absolute;
  text-align: center;
}
.slbWrap:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.slbContentOuter {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0px auto;
  padding: 0 1em;
  box-sizing: border-box;
  z-index: 2020;
  text-align: left;
  max-width: 100%;
}
.slbContentEl .slbContentOuter {
  padding: 5em 1em;
}
.slbContent {
  position: relative;
}
.slbContentEl .slbContent {
  -webkit-animation: slbEnter 0.3s;
  animation: slbEnter 0.3s;
  background-color: #fff;
  box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.4);
}
.slbImageWrap {
  -webkit-animation: slbEnter 0.3s;
  animation: slbEnter 0.3s;
  position: relative;
}
.slbImageWrap:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 5em;
  bottom: 5em;
  display: block;
  z-index: -1;
  box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.6);
  background-color: #fff;
}
.slbDirectionNext .slbImageWrap {
  -webkit-animation: slbEnterNext 0.4s;
  animation: slbEnterNext 0.4s;
}
.slbDirectionPrev .slbImageWrap {
  -webkit-animation: slbEnterPrev 0.4s;
  animation: slbEnterPrev 0.4s;
}
.slbImage {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 5em 0;
  margin: 0 auto;
}
.slbCaption {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  font-size: 1.4em;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.71429em 0;
  color: #fff;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
}
.slbCloseBtn,
.slbArrow {
  margin: 0;
  padding: 0;
  border: 0;
  cursor: pointer;
  background: none;
}
.slbCloseBtn::-moz-focus-inner,
.slbArrow::-moz-focus-inner {
  padding: 0;
  border: 0;
}
.slbCloseBtn:hover,
.slbArrow:hover {
  opacity: 0.5;
}
.slbCloseBtn:active,
.slbArrow:active {
  opacity: 0.8;
}
.slbCloseBtn {
  -webkit-animation: slbEnter 0.3s;
  animation: slbEnter 0.3s;
  font-size: 3em;
  width: 1.66667em;
  height: 1.66667em;
  line-height: 1.66667em;
  position: absolute;
  right: -0.33333em;
  top: 0;
  color: #fff;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
}
.slbLoading .slbCloseBtn {
  display: none;
}
.slbLoadingText {
  font-size: 1.4em;
  color: #fff;
  color: rgba(255, 255, 255, 0.9);
}
.slbArrows {
  position: fixed;
  top: 50%;
  left: 0;
  right: 0;
}
.slbLoading .slbArrows {
  display: none;
}
.slbArrow {
  position: absolute;
  top: 50%;
  margin-top: -5em;
  width: 5em;
  height: 10em;
  opacity: 0.7;
  text-indent: -999em;
  overflow: hidden;
}
.slbArrow:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -0.8em 0 0 -0.8em;
  border: 0.8em solid transparent;
}
.slbArrow.next {
  right: 0;
}
.slbArrow.next:before {
  border-left-color: #fff;
}
.slbArrow.prev {
  left: 0;
}
.slbArrow.prev:before {
  border-right-color: #fff;
}
.slbIframeCont {
  width: 80em;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%;
  margin: 5em 0;
}
.slbIframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.6);
  background: #000;
}
@-webkit-keyframes slbOverlay {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.7;
  }
}
@keyframes slbOverlay {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.7;
  }
}
@-webkit-keyframes slbEnter {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -1em, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
  }
}
@keyframes slbEnter {
  from {
    opacity: 0;
    transform: translate3d(0, -1em, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes slbEnterNext {
  from {
    opacity: 0;
    -webkit-transform: translate3d(4em, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
  }
}
@keyframes slbEnterNext {
  from {
    opacity: 0;
    transform: translate3d(4em, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes slbEnterPrev {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-4em, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
  }
}
@keyframes slbEnterPrev {
  from {
    opacity: 0;
    transform: translate3d(-4em, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
/*----- FONTS -----*/
@font-face {
  font-family: "choplin";
  src: url("https://res.cloudinary.com/dxij3wtkk/raw/upload/v1546715547/portfolio/rene_bieder_-_choplin_medium-demo-webfont.woff2")
      format("woff2"),
    url("https://res.cloudinary.com/dxij3wtkk/raw/upload/v1546663049/portfolio/rene_bieder_-_choplin_medium-demo-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "choplin lt";
  src: url("https://res.cloudinary.com/dxij3wtkk/raw/upload/v1546715547/portfolio/rene_bieder_-_choplin_extralight-demo-webfont.woff2")
      format("woff2"),
    url("https://res.cloudinary.com/dxij3wtkk/raw/upload/v1546663049/portfolio/rene_bieder_-_choplin_extralight-demo-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}
/*----- MEDIA QUERIES -----*/
/*----- VARIABLES -----*/
:root {
  /* Colors */
  --pri: #aa469b;
  --sec: #7b3470;
  --ter: #f1c215;

--bright: #e21164;

  --black: #261525;
  --white: #f3efe7;

  /* Font Stacks */
  --mainfont: "Raleway", sans-serif;
  --display: "choplin", serif;
  --displayLt: "choplin lt", serif;

  /* Sizing */
  --small: 5px;
  --smallish: 10px;
  --std: 20px;
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}
/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}
/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}
/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}
/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}
/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}
/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}
/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}
/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}
/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}
/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}
/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}
/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}
/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}
html {
  color: #261525;
  color: var(--black);
  background: #f3efe7;
  background: var(--white);
}
body {
  display: grid;
  grid-template-rows: 1fr auto;
  min-height: 100vh;
  font-size: 1em;
  font-family: "Raleway", sans-serif;
  font-family: var(--mainfont);
  line-height: 1.4;
}
main {
  margin-top: 50px;
}
section {
  margin-top: 20px;
  margin-top: var(--std);
}
article {
  padding: 20px;
  padding: var(--std);
}
p {
  max-width: 37em;
  margin-top: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
blockquote {
  margin: 0;
  padding: 0;
}
cite{
  text-transform: lowercase;
  font-weight: bold;
  font-style: normal;
}
hr {
  width: 90%;
  height: 1.3px;
  margin: 0 auto;
  background: #7b3470;
  background: var(--sec);
  border: none;
  opacity: 0.1;
}
img {
  max-width: 100%;
}
.warn {
  color: #e21164;
  color: var(--bright);
  font-size: 1.4rem;
}
.ondark {
  color: #f3efe7;
  color: var(--white);
}
@media (min-width: 35em) {
  main {
    margin-top: 100px;
  }
}
footer {
  display: flex;
  align-content: center;
  justify-content: flex-end;
  margin: 20px 0;
  margin: var(--std) 0;
  text-transform: lowercase;
}
.button {
  position: relative;
  z-index: 3;
  display: block;
  min-width: 80%;
  margin: 0 auto;

  padding: 10px;

  padding: var(--smallish);
  overflow: hidden;
  font-weight: normal;
  font-family: "choplin", serif;
  font-family: var(--display);
  text-transform: lowercase;
  color: #7b3470;
  color: var(--sec);
  background: transparent;
  border: none;
  border-bottom: 3px solid rgb(217, 175, 19);
  border-bottom: 3px solid rgb(217, 175, 19);
  transition: 0.5s ease;
}
.button::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  display: block;
  width: 100%;
  height: 100%;
  background: #f1c215;
  background: var(--ter);
  content: "";
}
.button::after {
  position: absolute;
  top: 0px;
  right: 50%;
  bottom: 0px;
  left: 50%;
  z-index: -1;
  display: block;
  background: transparent;
  opacity: 0;
  transition: 0.5s ease;
  content: "";
}
.button:hover,
.button:focus {
  color: #f1c215;
  color: var(--ter);
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.5s ease;
}
.button:hover::after,
.button:focus:after {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #7b3470;
  background: var(--sec);
  opacity: 1;
  transition: 0.5s ease;
}
input,
textarea {
  background: none;
  border: none;
  color: #261525;
  color: var(--black);
}
input {
  border-bottom: 3px solid #aa469b;
  border-bottom: 3px solid var(--pri);
}
label{
  font-weight: normal;
  font-family: "choplin", serif;
  font-family: var(--display);
  text-transform: lowercase;
  margin-bottom: 10px;
  margin-bottom: var(--smallish);
}
.req::after {
  color: #e21164;
  color: var(--bright);
  font-size: 1.2rem;
  vertical-align: super;
  content: "⁎";
}
::-webkit-input-placeholder {
  color: #aa469b;
  color: var(--pri);
  font-weight: 300;
  font-size: 0.8rem;
  vertical-align: center;
  opacity: 0.5;
}
::-moz-placeholder {
  color: #aa469b;
  color: var(--pri);
  font-weight: 300;
  font-size: 0.8rem;
  vertical-align: center;
  opacity: 0.5;
}
:-ms-input-placeholder {
  color: #aa469b;
  color: var(--pri);
  font-weight: 300;
  font-size: 0.8rem;
  vertical-align: center;
  opacity: 0.5;
}
::-ms-input-placeholder {
  color: #aa469b;
  color: var(--pri);
  font-weight: 300;
  font-size: 0.8rem;
  vertical-align: center;
  opacity: 0.5;
}
::placeholder {
  color: #aa469b;
  color: var(--pri);
  font-weight: 300;
  font-size: 0.8rem;
  vertical-align: center;
  opacity: 0.5;
}
input,
textarea,
button {
  margin-bottom: calc(2 * 20px);
  margin-bottom: calc(2 * var(--std));
}
.gallery {
  display: grid;
  grid-gap: 1vw;
  grid-template-columns: 1fr 1fr 1fr;
}
.gallery img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.gallery a {
  background: none;
}
header {
  display: flex;
  justify-items: center;
  position: fixed;
  background: #f3efe7;
  background: var(--white);
  width: 100%;
  margin:0;
  padding-top: 20px;
  padding-top: var(--std);
  z-index: 3;
}
header::before {

    content: '';
    width: 100%;
    height: 170%;
    position: absolute;
    background: #f3efe7;
    background: var(--white);
    z-index: -1;
    -webkit-clip-path: url('#hdClip');
            clip-path: url('#hdClip');
}
nav > * {
  z-index: 1;
}
.fixed nav {
  display: flex;
  width: auto;
}
.fixed .logo {
  margin: 0 20px;
  margin: 0 var(--std);
}
.ondark .site-title {
  color: #f3efe7;
  color: var(--white);
}
.ondark .logo svg {
  fill: #f3efe7;
  fill: var(--white);
}
.logo {
  background: none;
}
.logo svg {
  width: 36px;
  fill: #e21164;
  fill: var(--bright);
}
.brand {
  text-align: left;
  background: none;
}
.site-title {
  grid-area: name;
  color: #7b3470;
  color: var(--sec);
  font-weight: normal;
  font-family: "choplin", serif;
  font-family: var(--display);
  text-transform: lowercase;
  font-size: 1.4rem;
}
.menu {
  display: flex;
  grid-area: menu;
  align-items: center;
  width: 100%;
  font-weight: normal;
  font-family: "choplin", serif;
  font-family: var(--display);
  text-transform: lowercase;
}
.menu li {
  flex: 1;
  text-align: center;
}
.menu a {
  position: relative;
  display: inline-block;
  color: #7b3470;
  color: var(--sec);
}
@media (max-width: 35em) {
  header.fixed {
    bottom: 0;
    z-index: 10;
    width: calc(100% - (20px));
    width: calc(100% - (var(--std)));
    padding: 10px;
    padding: var(--smallish);

  }

  .fixed .site-title {
    display: none;
  }

  .fixed .nav {
    width: 100%;
  }

  .fixed a {
    color: #aa469b;
    color: var(--pri);
  }


}
@media (min-width: 35em) {

  header::before {

    content: '';
    width: 100%;
    height: 170%;
    position: absolute;
    background: #f3efe7;
    background: var(--white);
    z-index: -1;
    -webkit-clip-path: url('#hdClip');
            clip-path: url('#hdClip');
}
  .logo svg {
    width: 42px;
    
  }

  .site-title {
    letter-spacing: 1px;
    font-size: 1.6rem;
  }

  .site-title span {
    margin-left: 5px;
    margin-left: var(--small);
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1;
  margin-bottom: 5px;
  margin-bottom: var(--small);
}
h1,
.h1 {
  font-size: calc(((3.815 - 2.027) * ((100vw) - 20rem) / (50 - 20)) + 2.027rem);
}
h2,
.h2 {
  font-size: calc(((3.025 - 1.802) * ((100vw) - 20rem) / (50 - 20)) + 1.802rem);
}
h3,
.h3 {
  font-size: calc(((2.441 - 1.602) * ((100vw) - 20rem) / (50 - 20)) + 1.602rem);
}
h4,
.h4 {
  font-size: calc(((1.953 - 1.424) * ((100vw) - 20rem) / (50 - 20)) + 1.424rem);
}
h5,
.h5 {
  font-size: calc(((1.563 - 1.266) * ((100vw) - 20rem) / (50 - 20)) + 1.266rem);
}
h6,
.h6 {
  font-size: calc(((1.25 - 1.125) * ((100vw) - 20rem) / (50 - 20)) + 1.125rem);
}
.cat-head {
  display: flex;
  align-items: center;
  justify-content: right;
  width: 100%;
  font-weight: normal;
  font-family: "choplin", serif;
  font-family: var(--display);
  text-transform: lowercase;
  font-size: 1.5em;
  line-height: 0.8;
}
.cat-head:after {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 5px;
  height: var(--small);
  margin-left: 10px;
  margin-left: var(--smallish);
  background: #261525;
  background: var(--black);
  content: "";
}
.display{
  font-weight: normal;
  font-family: "choplin", serif;
  font-family: var(--display);
  text-transform: lowercase;
}
body a {
  margin: 0;
  padding: 0;
  padding-bottom: 5px;
  padding-bottom: var(--small);
  color: #aa469b;
  color: var(--pri);
  line-height: 1;
  text-decoration: none;
  transition: 0.3s;
}
main a {
  color: #aa469b;
  color: var(--pri);
  background: radial-gradient(
    circle closest-side,
    #261525 calc(100% - 0.5px),
    transparent 100%
  );
  background: radial-gradient(
    circle closest-side,
    var(--black) calc(100% - 0.5px),
    transparent 100%
  );
  background-repeat: repeat-x;
  background-size: 8px 4px;
  background-position: 0 bottom;
}
p a {
  background-position: left 0 bottom 4px;
  background-size: 8px 3px;
}
p a:hover,
p a:focus {
  -webkit-animation: border-dance-sm 8s infinite;
          animation: border-dance-sm 8s infinite;
}
.bright {
  color: #f1c215;
  color: var(--ter);
  float: left;
}
a:hover,
a:focus {
  -webkit-animation: border-dance-lg 8s infinite;
          animation: border-dance-lg 8s infinite;
}
@-webkit-keyframes border-dance-lg {
  0% {
    background-position: 0 bottom;
  }
  100% {
    background-position: 300px bottom;
  }
}
@keyframes border-dance-lg {
  0% {
    background-position: 0 bottom;
  }
  100% {
    background-position: 300px bottom;
  }
}
@-webkit-keyframes border-dance-sm {
    0% {
    background-position: left 0 bottom 4px;
  }
  100% {
    background-position: left 300px bottom 4px;
  }
}
@keyframes border-dance-sm {
    0% {
    background-position: left 0 bottom 4px;
  }
  100% {
    background-position: left 300px bottom 4px;
  }
}
.menu a,
.tags a,
.bright {
  background: none;
}
.menu a:after,
.tags a:after,
.bright::after {
  display: block;
  width: 0px;
  height: 3px;
  margin: auto;
  background: transparent;
  border-bottom: 3px dotted;
  transition: width 0.5s ease, background-color 0.5s ease;
  content: "";
}
.menu a:hover:after,
.tags a:hover:after,
.menu a:focus:after,
.tags a:focus:after,
.bright:focus::after,
.bright:hover::after {
  width: 100%;
}
.tags a {
  font-size: 0.8rem;
  color: #aa469b;
  color: var(--pri);
}
.tags a::after {
  margin-top: calc(-1 * 5px);
  margin-top: calc(-1 * var(--small));
  border-width: 2px;
}
.cta {
  display: table;
  margin: auto;
  padding: 10px 20px;
  padding: var(--smallish) var(--std);
  color: #7b3470;
  color: var(--sec);
  text-transform: lowercase;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  background: #f1c215;
  background: var(--ter);
  border-radius: 100px;
  transform: perspective(1px) translateZ(0);
}
@-webkit-keyframes buzz-out-on-hover {
  10% {
    transform: translateX(3px) rotate(2deg);
  }
  20% {
    transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    transform: translateX(3px) rotate(2deg);
  }
  40% {
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    transform: translateX(1px) rotate(0);
  }
  100% {
    transform: translateX(-1px) rotate(0);
  }
}
@keyframes buzz-out-on-hover {
  10% {
    transform: translateX(3px) rotate(2deg);
  }
  20% {
    transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    transform: translateX(3px) rotate(2deg);
  }
  40% {
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    transform: translateX(1px) rotate(0);
  }
  100% {
    transform: translateX(-1px) rotate(0);
  }
}
.cta:hover,
.cta:focus,
.cta:active {
  -webkit-animation: buzz-out-on-hover 1s linear;
          animation: buzz-out-on-hover 1s linear;
}
.gallery a::after {
  all: unset;
}
.listbox ul {
  display: flex;
  flex-wrap: wrap;
  max-width: 100vw;
}
.listbox li {
  padding-right: 10px;
  padding-right: var(--smallish);
  white-space: nowrap;
}
.listbox li:before {
  padding-right: 5px;
  padding-right: var(--small);
  content: "+";
}
.lb-head{
  text-transform: lowercase;
}
.bullet li {
  margin-bottom: 5px;
  margin-bottom: var(--small);
}
.bullet li::before {
  content: "●";
  margin-right: 10px;
  margin-right: var(--smallish);
  color: #ff2f6e;
}
.double {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.sublist {
  grid-row: span var(--items);
}
.sublist ul {
  margin-left: 20px;
  margin-left: var(--std);
}
[data-simplebar] {
  position: relative;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}
.simplebar-wrapper {
  overflow: hidden;
  width: inherit;
  height: inherit;
  max-width: inherit;
  max-height: inherit;
}
.simplebar-mask {
  direction: inherit;
  position: absolute;
  overflow: hidden;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: auto !important;
  height: auto !important;
  z-index: 0;
}
.simplebar-offset {
  direction: inherit !important;
  box-sizing: inherit !important;
  resize: none !important;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
  -webkit-overflow-scrolling: touch;
}
.simplebar-content-wrapper {
  direction: inherit;
  box-sizing: border-box !important;
  position: relative;
  display: block;
  height: 100% !important; /* Required for horizontal native scrollbar to not appear if parent is taller than natural height */
  width: auto;
  visibility: visible;
  overflow: auto; /* Scroll on this element otherwise element can't have a padding applied properly */
  max-width: 100%; /* Not required for horizontal scroll to trigger */
  max-height: 100%; /* Needed for vertical scroll to trigger */
}
.simplebar-content:before,
.simplebar-content:after {
  content: " ";
  display: table;
}
.simplebar-placeholder {
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  pointer-events: none;
}
.simplebar-height-auto-observer-wrapper {
  box-sizing: inherit !important;
  height: 100%;
  width: 100%;
  max-width: 1px;
  position: relative;
  float: left;
  max-height: 1px;
  overflow: hidden;
  z-index: -1;
  padding: 0;
  margin: 0;
  pointer-events: none;
  flex-grow: inherit;
  flex-shrink: 0;
  flex-basis: 0;
}
.simplebar-height-auto-observer {
  box-sizing: inherit;
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 1000%;
  width: 1000%;
  min-height: 1px;
  min-width: 1px;
  overflow: hidden;
  pointer-events: none;
  z-index: -1;
}
.simplebar-track {
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 0;
  pointer-events: none;
  overflow: hidden;
}
[data-simplebar].simplebar-dragging .simplebar-track {
  pointer-events: all;
}
.simplebar-scrollbar {
  position: absolute;
  right: 2px;
  width: 7px;
  min-height: 10px;
}
.simplebar-scrollbar:before {
  position: absolute;
  content: "";
  background: #f1c215;
  background: var(--ter);
  border-radius: 7px;
  left: 0;
  right: 0;
  opacity: 0;
  transition: opacity 0.2s linear;
}
.simplebar-track .simplebar-scrollbar.simplebar-visible:before {
  /* When hovered, remove all transitions from drag handle */
  opacity: 1;
  transition: opacity 0s linear;
}
.simplebar-track.simplebar-vertical {
  top: 0;
  width: 11px;
}
.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  top: 2px;
  bottom: 2px;
}
.simplebar-track.simplebar-horizontal {
  left: 0;
  height: 11px;
}
.simplebar-track.simplebar-horizontal .simplebar-scrollbar:before {
  height: 100%;
  left: 2px;
  right: 2px;
}
.simplebar-track.simplebar-horizontal .simplebar-scrollbar {
  right: auto;
  left: 0;
  top: 2px;
  height: 7px;
  min-height: 0;
  min-width: 10px;
  width: auto;
}
/* Rtl support */
[data-simplebar-direction="rtl"] .simplebar-track.simplebar-vertical {
  right: auto;
  left: 0;
}
.hs-dummy-scrollbar-size {
  direction: rtl;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  height: 500px;
  width: 500px;
  overflow-y: hidden;
  overflow-x: scroll;
}
@media (min-width: 50em) {
  .simplebar-track .simplebar-scrollbar.simplebar-visible:before{
    opacity: 0;
  }
}
.simplebar-content {
  display: grid;
  grid-auto-columns: -webkit-min-content;
  grid-auto-columns: min-content;
  grid-auto-flow: column;
  width: 100vw;
}
@media (min-width: 50em) {
  .simplebar-content {
    display: block;
    width: auto;
  }
}
.social {
  display: inline-flex;
  padding: 0 20px;
  padding: 0 var(--std);
}
.social svg {
  width: 16px;
  padding: 0 5px;
  padding: 0 var(--small);
  fill: #261525;
  fill: var(--black);
}
.social a:after {
  all: unset;
}
.ondark .social svg {
  fill: #f3efe7;
  fill: var(--white);
}
.tags {
  display: flex;
  margin-top: calc(-1 * 10px);
  margin-top: calc(-1 * var(--smallish));
}
.tags li {
  padding-right: 20px;
  padding-right: var(--std);
}
.testimonials {
  display: grid;
  grid-auto-columns: 100%;
  grid-auto-flow: column;

  width: 100%;
  overflow: hidden;
}
.testimonial {
  padding: 10px 20px;
  padding: var(--smallish) var(--std);
}
.testimonial p:before,
.testimonial p:after {
  position: relative;
  top: 10px;
  top: var(--smallish);
  padding-right: 5px;
  padding-right: var(--small);
  color: #e21164;
  color: var(--bright);
}
.testimonial p:before, .testimonial p:after{
  font-weight: normal;
  font-family: "choplin", serif;
  font-family: var(--display);
  text-transform: lowercase;
}
.testimonial p:before,
.testimonial p:after {
  font-size: 2em;
  line-height: 0;
  content: "“";
}
.testimonial p:after {
  padding-left: 5px;
  padding-left: var(--small);
  content: "”";
}
.testimonial a {
  font-weight: normal;
}
.testimonial:first-child {
  -webkit-animation: slide1 9s infinite;
          animation: slide1 9s infinite;
}
.testimonial:nth-child(2) {
  -webkit-animation: slide2 9s infinite;
          animation: slide2 9s infinite;
}
.testimonial:nth-child(3) {
  -webkit-animation: slide3 9s infinite;
          animation: slide3 9s infinite;
}
@-webkit-keyframes slide1 {
  0% {
    transform: translateX(50%);
  }

  5% {
    transform: translateX(0);
  }

  28% {
    transform: translateX(0);
  }

  33% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(-100%);
  }
}
@keyframes slide1 {
  0% {
    transform: translateX(50%);
  }

  5% {
    transform: translateX(0);
  }

  28% {
    transform: translateX(0);
  }

  33% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(-100%);
  }
}
@-webkit-keyframes slide2 {
  0% {
    transform: translateX(0);
  }

  28% {
    transform: translateX(0);
  }

  33% {
    transform: translateX(-100%);
  }

  61% {
    transform: translateX(-100%);
  }

  66% {
    transform: translateX(-200%);
  }

  100% {
    transform: translateX(-200%);
  }
}
@keyframes slide2 {
  0% {
    transform: translateX(0);
  }

  28% {
    transform: translateX(0);
  }

  33% {
    transform: translateX(-100%);
  }

  61% {
    transform: translateX(-100%);
  }

  66% {
    transform: translateX(-200%);
  }

  100% {
    transform: translateX(-200%);
  }
}
@-webkit-keyframes slide3 {
  0% {
    transform: translateX(0);
  }

  61% {
    transform: translateX(-100%);
  }

  66% {
    transform: translateX(-200%);
  }

  95% {
    transform: translateX(-200%);
  }

  100% {
    transform: translateX(-300%);
  }
}
@keyframes slide3 {
  0% {
    transform: translateX(0);
  }

  61% {
    transform: translateX(-100%);
  }

  66% {
    transform: translateX(-200%);
  }

  95% {
    transform: translateX(-200%);
  }

  100% {
    transform: translateX(-300%);
  }
}
.invert {
  color: #f3efe7;
  color: var(--white);
  background: #261525;
  background: var(--black);
}
.invert body {
background: url('/static/img/empty.svg');

}
.notfound {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: 30vh;
}
.about {
  color: #7b3470;
  color: var(--sec);
  display: grid;
  grid-template-columns: auto auto;
  align-items: end;
  margin: 0 calc(50vw - 300px);
}
.about h1{
  font-size: calc(((3.815 - 2.027) * ((150vw) - 20rem) / (50 - 20)) + 2.027rem);
  line-height: 0.8;
}
.about img {
  max-height: 600px;
}
.about section {
  grid-column: span 2;
}
@media (min-width: 50em) {
  .about {
    grid-template-columns: 5% minmax(auto, 600px) 300px;
    grid-template-rows: auto auto 1fr;
    align-items: start;
    margin: 0 10vw;
  }

  .about h1 {
    grid-column: span 2;
  }

  .about img {
    grid-row: span 2;
  }

  .about section {
    grid-column: 2;
  }
}
.blog {
  position: relative;
  padding: 0 20px;
  padding: 0 var(--std);
}
.blog-post {
  display: grid;
  grid-column-gap: 20px;
  grid-column-gap: var(--std);
  grid-template-columns: auto auto auto;
  justify-content: left;
  width: 80vw;
  max-width: 400px;
  margin-bottom: calc(2 * 20px);
  margin-bottom: calc(2 * var(--std));
}
.blog-title,
.blog-sum,
.blog-date,
.blog-tags {
  grid-column: span 2;
}
.blog-date {
  grid-row: 1;

  margin: 0;
}
.blog-title{
  font-weight: normal;
  font-family: "choplin", serif;
  font-family: var(--display);
  text-transform: lowercase;
  line-height: 1.4;
  padding-bottom: 10px;
  padding-bottom: var(--smallish);
}
.blog-desc {
  margin-bottom: calc(3 * 20px);
  margin-bottom: calc(3 * var(--std));
}
.blog-desc p {
  margin-top: 5px;
  margin-top: var(--small);
}
@media (min-width: 50em) {
  .blog {
    margin-left: 5vw;
    max-width: 1000px;
  }

  .blog-content {
    margin-left: 360px;
    height: 100%;
  }

  .blog-post {
    max-width: 100%;
  }

  .blog-desc {
    position: fixed;
    width: 300px;
    margin-top: 100px;
  }
}
.contactWrapper {
  display: grid;
  align-items: start;
  justify-items: center;
  align-items: center;

  overflow: hidden;
  color: #aa469b;
  color: var(--pri);
}
.contact {
  box-sizing: border-box;
  width: 280px;
  padding: 20px;
  padding: var(--std);
}
.contact input {
  width: 100%;
}
.contact textarea {
  box-sizing: border-box;
  width: 100%;
  height: 80%;
  margin-top: 0;
  padding: 0 10px;
  padding: 0 var(--smallish);
  border-left: 3px solid #aa469b;
  border-left: 3px solid var(--pri);
  resize: none;
}
.contact label {
  display: block;
}
.success {
  display: grid;
  grid-row-gap: 20px;
  max-width: 300px;
  text-align: center;
  justify-items: center;
}
.mail {
  transform: scale(0.6) translateX(140%) translateY(170%);
  -webkit-animation: beam-up 1.5s linear infinite;
          animation: beam-up 1.5s linear infinite;
  transform-origin: center;
}
@media (min-width: 35em) {
  .contactWrapper {
    height: 85%;
  }
  .contact {
    display: grid;
    grid-column-gap: 20px;
    grid-column-gap: var(--std);
    grid-template-columns: 1fr 1fr;
    width: auto;
    max-width: 600px;
  }

  .contact h1 {
    grid-column: 1/3;
    grid-row-start: 1;
    justify-self: center;
  }

  .contact label,
  .contact input {
    grid-column-start: 1;
  }

  label[for="message"],
  .contact textarea {
    grid-column-start: 2;
  }

  label[for="message"] {
    grid-row-start: 2;
  }

  .contact textarea {
    grid-row: 3/6;
  }

  .contact button {
    grid-column-start: 2;
  }

  .success {
    grid-template-columns: auto minmax(auto, 400px);
    grid-template-rows: 1fr auto 1fr;
    grid-column-gap: 20px;
    grid-column-gap: var(--std);
    max-width: 600px;
  }

  .ufo {
    grid-row: span 3;
    width: 25vw;
    max-height: 400px;
  }

  .success .button {
    align-self: start;
  }

  .success h3 {
    align-self: end;
  }
}
@media (min-width: 50em) {
  .contact {
    grid-column-gap: calc(2 * 20px);
    grid-column-gap: calc(2 * var(--std));
    grid-template-columns: 1fr 2fr 2fr;
    max-width: 1000px;
  }
  .contact h1 {
    grid-column: 1;
    grid-row: 1 / 5;

    align-self: center;
    max-width: 5%;
    justify-self: start;
  }

  .contact label,
  .contact input {
    grid-column-start: 2;
  }

  label[for="message"],
  .contact textarea {
    grid-column-start: 3;
  }

  label[for="message"] {
    grid-row-start: 1;
  }

  .contact textarea {
    grid-row: 2/5;
  }
  .contact small {
    grid-column-start: 2;
  }

  .contact button {
    grid-column-start: 3;
  }

  .success {
    max-width: 1000px;
  }
}
.slide-out {
  -webkit-animation: slide-out-right 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  animation: slide-out-right 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) forwards;
}
.slide-in {
  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2019-7-23 22:27:40
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation slide-out-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-out-right {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(1000px);
    opacity: 0;
  }
}
@keyframes slide-out-right {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(1000px);
    opacity: 0;
  }
}
/* ----------------------------------------------
 * Generated by Animista on 2019-7-23 22:35:49
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes beam-up {
  0% {
    transform: scale(0.3) translateX(210%) translateY(440%);
  }
  33% {
    transform: scale(0.3) translateX(210%) translateY(330%) rotate(3deg);
  }

  52% {
    transform: scale(0.3) translateX(210%) translateY(210%) rotate(0deg);
  }
  75% {
    transform: scale(0.3) translateX(210%) translateY(80%) rotate(-3deg);
  }
  100% {
    transform: scale(0.3) translateX(210%) translateY(80%);
  }
}
@keyframes beam-up {
  0% {
    transform: scale(0.3) translateX(210%) translateY(440%);
  }
  33% {
    transform: scale(0.3) translateX(210%) translateY(330%) rotate(3deg);
  }

  52% {
    transform: scale(0.3) translateX(210%) translateY(210%) rotate(0deg);
  }
  75% {
    transform: scale(0.3) translateX(210%) translateY(80%) rotate(-3deg);
  }
  100% {
    transform: scale(0.3) translateX(210%) translateY(80%);
  }
}
.atf {
  display: grid;
  justify-items: center;
  align-items: center;
  height: 100vh;

  padding: 0 20px;

  padding: 0 var(--std);
  margin-top: -15vh;
  padding-bottom: 50px;

  color: #aa469b;

  color: var(--pri);
  background: url("/static/img/starsbg.svg"), #261525;
  background: url("/static/img/starsbg.svg"), var(--black);
  background-size: 1200px;
  background-position: 40% 80%;
}
.atf nav {
  display: grid;
  width: 300px;
  grid-column-gap: 10px;
  grid-column-gap: var(--smallish);
  grid-template-areas:
    "logo menu"
    "name name";
  grid-template-columns: auto 1fr;
  align-items: center;
  text-align: center;
}
.atf .nav::before {
  -webkit-clip-path: url("#atfClip");
          clip-path: url("#atfClip");
  content: "";
  display: block;
  width: 100vw;
  height: 100vw;
  background: #f3efe7;
  background: var(--white);
  position: absolute;
  z-index: 0;
  left: calc(-1 * 5px);
  left: calc(-1 * var(--small));
  transform: rotate(90deg);
}
.atf .menu {
  max-width: 300px;
}
.ondark a:not(.cta) {
  color: #f3efe7;
  color: var(--white);
}
.ondark a::after {
  border-color: #f3efe7;
  border-color: var(--white);
}
.atf p {
  max-width: 400px;
  margin-top: 5px;
  margin-top: var(--small);
  background: #261525;
  background: var(--black);
}
.brand {
  grid-area: name;
}
.atf .site-title {
  text-align: center;
  margin-bottom: 20px;
  margin-bottom: var(--std);
  color: #aa469b;
  color: var(--pri);
  font-size: calc(((3.815 - 2.027) * ((150vw) - 20rem) / (50 - 20)) + 2.027rem);
  line-height: 0.8;
}
.intro {
  color: #f3efe7;
  color: var(--white);
  padding: 20px;
  padding: var(--std);
  margin-top: 20px;
  margin-top: var(--std);
  align-self: start;
}
.intro h2 {
  background: #261525;
  background: var(--black);
  display: inline;
}
.strengths {
  padding: 20px;
  padding: var(--std);
  color: #f3efe7;
  color: var(--white);
  background: url("/static/img/rocket.svg") no-repeat;
  background-size: 250%;
  background-attachment: fixed;
  background-position: -30vw 5%;
  background-origin: content-box;
  position: relative;
  transition: .8s ease;
}
.strengths span {
  position: -webkit-sticky;
  position: sticky;
  top: 35px;
}
.strengths::before {
  z-index: -1;
  display: block;
  width: 100%;
  height: 100%;
  background: url("/static/img/bg.svg"), #261525;
  background: url("/static/img/bg.svg"), var(--black);
  content: "";
  position: fixed;
  left: 0;

  background-size: 100vw;

  background-position: 40% -90%;
}
.strength {
  box-sizing: border-box;
  height: calc(100vh + 10px);
  height: calc(100vh + var(--smallish));
  padding-top: calc(3 * 20px);
  padding-top: calc(3 * var(--std));
}
.strength::before {
  float: right;
  height: 100%;
  width: 50%;
  shape-outside: polygon(
    106.98% -17px,
    107.12% 88.64%,
    20.56% 92.16%,
    28.6% 73.86%,
    45.22% 61.82%,
    42.41% 43.58%,
    40.94% 26.28%,
    44.54% 12.21%,
    51.49% -5.24%,
    60% -18.2%,
    74.42% -32.21%
  );
  content: "";
}
.capacity {
  display: grid;
  grid-gap: 20px;
  grid-gap: var(--std);

  padding: 20px;

  padding: var(--std);
  padding-top: 100px;
  margin: 0 auto;

  max-width: 600px;
  color: #7b3470;
  color: var(--sec);
}
.stories {
  position: relative;
  color: #f3efe7;
  color: var(--white);
  padding-top: 20px;
  padding-top: var(--std);
}
.stories::before {
  background: #261525;
  background: var(--black);
  content: "";
  width: 100%;
  height: 130%;
  margin-top: calc(-1 * 20px);
  margin-top: calc(-1 * var(--std));
  display: block;
  position: absolute;
  z-index: -1;
}
.stories .display {
  margin-left: 20px;
  margin-left: var(--std);
}
@media (min-width: 35em) {
  .atf {
    padding: 0 20px;
    padding: 0 var(--std);
    height: calc(100vh + 20px);
  }

  .atf .nav {
    width: 50vw;
  }

  .intro {
    align-self: center;
  }

  .strengths {
    max-width: 1000px;
    padding: 0 calc(50% - 500px);
  }

  .strengths::before {
    position: fixed;
    width: 120vw;
    height: 100vh;

    -webkit-clip-path: url("#strClip");
    clip-path: url("#strClip");
    top: 20px;
    top: var(--std);
    left: -10vw;
    opacity: 0;
  }

  .strengths::after {

    content: '';
    width: 100%;
    height: 400px;
    background: url('/static/img/cloud.svg');
    position: absolute;
    bottom: calc(-15% + 10vw);
    left:0;
    background-position: -300px;

    background-size: 110vw;
    background-position: -5vw 0;
    z-index: -1;

}

  .fixedBG::before {
    opacity: 1;
  }

  .strength {
    padding-top: calc(50vh - 100px);
    padding-left: 20px;
    padding-left: var(--std);
  }

  .strength p {
    max-width: 500px;
  }
  .stories::before {
    height: 125%;
  }
}
@media (min-width: 50em) {
  .atf {
    grid-template-columns: 1fr 1fr;
    padding-left: 5%;
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
    grid-gap: 100px;
    align-items: center;
    justify-items: center;
  }

  .atf .nav {
    margin-top: 0;
    width: auto;
  }

  .atf .nav::before {
    width: 75vw;
    height: 100vh;
    transform: rotate(0deg);
  }

  .strengths {
    background-size: 2000px;
  }

  .strength::before {
    shape-outside: polygon(
      106.98% -17px,
      107.12% 88.64%,
      88.23% 97.01%,
      60.07% 96.86%,
      13.51% 97.26%,
      9.75% 85.57%,
      8.62% 70.37%,
      7.92% 51.88%,
      12.31% 32.74%,
      16.2% 18.93%,
      30.4% -3.31%,
      226px -27.92%
    );
  }

  .step-one {
    background-position: top 0 right -800px;
  }

  .step-two {
        background-position: top 25% right -800px;
  }

  .step-three {
        background-position: top 50% right -800px;
  }

  .step-four {
        background-position: top 75% right -800px;
  }

  .capacity {
    grid-column-gap: 60px;
    grid-template-columns: 1fr 1fr;
    max-width: 1000px;
  }

  .skills {
    grid-row: span 2;
  }

  .stories {
    max-width: 1000px;
    display: grid;
    grid-column-gap: 20px;
    grid-column-gap: var(--std);
    grid-template-columns: -webkit-min-content auto;
    grid-template-columns: min-content auto;
    grid-auto-flow: column;
    padding: 0 calc(50vw - 500px);
    padding-top: 120px;
  }

  .stories::before {
    -webkit-clip-path: url("#testClip");
            clip-path: url("#testClip");
    margin-left: 0;
  }
}
.project {
  display: grid;
  margin: 0 auto;
  max-width: 600px;
}
.project-sum {
  margin-top: 20px;
  margin-top: var(--std);
}
.gal-project {
  grid-row-start: 1;
  margin-bottom: 20px;
  margin-bottom: var(--std);
  grid-template-rows: repeat(8, auto);
}
.single {
  grid-row: span 7;
  grid-column: span 8;
}
.gal-project a:not(.single):first-child {
  grid-row: span 3;
  grid-column: span 1;
}
.gal-project a:nth-child(2) {
  grid-row: span 4;
  grid-column: span 2;
}
.gal-project a:nth-child(3) {
  grid-row: span 3;
  grid-column: span 1;
}
.gal-project a:nth-child(4) {
  grid-row: span 2;
  grid-column: span 1;
}
.gal-project a:nth-child(5) {
  grid-row: span 3;
  grid-column: span 1;
}
.gal-project a:nth-child(6) {
  grid-row: span 3;
  grid-column: span 2;
}
.gal-project a:nth-child(7) {
  grid-row: span 2;
  grid-column: span 1;
}
.slbOverlay {
  background: rgb(22, 9, 20);
  background: rgb(22, 9, 20);
  opacity: 0.8;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}
.slbImageWrap {
  max-width: 70%;
  margin: 0 auto;
}
.slbArrow {
  opacity: 1;
  transition: 0.2s;
}
.slbArrow:before,
.slbCloseBtn {
  color: #f1c215;
  color: var(--ter);
  text-indent: 0;
  border: none;
  transition: 0.2s;
}
.next::before {
  right: 10px;
  right: var(--smallish);
  content: "\01F872";
}
.prev::before {
  content: "\01F870";
}
.slbArrow:hover,
.slbCloseBtn:hover {
  opacity: 1;
  transition: 0.2s;
}
@media (min-width: 50em) {
  .project {
    max-width: 1200px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 80vh 1fr;
    grid-gap: calc(2 * 20px);
    grid-gap: calc(2 * var(--std));
  }

  .gal-project {
    grid-column-start: 1;
    grid-row: 1/3;
  }
}
.gallery {
  max-width: 100vw;
  margin: 20px;
  margin: var(--std);
}
.gal-feed {
  grid-auto-flow: dense;
  grid-template-rows: repeat(13, 8vw);
  grid-template-columns: repeat(5, 1fr);
}
.gal-feed a:first-child {
  grid-row: span 4;
  grid-column: span 1;
}
.gal-feed a:nth-child(2) {
  grid-row: span 2;
  grid-column: span 1;
}
.gal-feed a:nth-child(3) {
  grid-row: span 5;
  grid-column: span 2;
}
.gal-feed a:nth-child(4) {
  grid-row: span 4;
  grid-column: span 1;
}
.gal-feed a:nth-child(5) {
  grid-row: span 2;
  grid-column: span 1;
}
.gal-feed a:nth-child(6) {
  grid-row: span 4;
  grid-column: span 2;
}
.gal-feed a:nth-child(7) {
  grid-row: span 3;
  grid-column: span 2;
}
.gal-feed a:nth-child(8) {
  grid-row: span 4;
  grid-column: span 1;
}
.gal-feed a:nth-child(9) {
  grid-row: span 2;
  grid-column: span 1;
}
.gal-feed a:nth-child(10) {
  grid-row: span 2;
  grid-column: span 1;
}
.gal-feed a:nth-child(11) {
  grid-row: span 4;
  grid-column: span 1;
}
.gal-feed a:nth-child(12) {
  grid-row: span 4;
  grid-column: span 2;
}
.gal-feed a:nth-child(13) {
  grid-row: span 2;
  grid-column: span 2;
}
.hidden {
  display: none !important;
}
.skip {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
