/*----- FONTS -----*/
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,400i,600&display=swap");

@font-face {
  font-family: "choplin";
  src: url("https://res.cloudinary.com/dxij3wtkk/raw/upload/v1546715547/portfolio/rene_bieder_-_choplin_medium-demo-webfont.woff2")
      format("woff2"),
    url("https://res.cloudinary.com/dxij3wtkk/raw/upload/v1546663049/portfolio/rene_bieder_-_choplin_medium-demo-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "choplin lt";
  src: url("https://res.cloudinary.com/dxij3wtkk/raw/upload/v1546715547/portfolio/rene_bieder_-_choplin_extralight-demo-webfont.woff2")
      format("woff2"),
    url("https://res.cloudinary.com/dxij3wtkk/raw/upload/v1546663049/portfolio/rene_bieder_-_choplin_extralight-demo-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

/*----- MEDIA QUERIES -----*/
@custom-media --narrow (max-width: 35em);
@custom-media --mid (min-width: 35em);
@custom-media --wide (min-width: 50em);
@custom-media --super (min-width: 70em);
@custom-media --tall (min-height: ) /*----- VARIABLES -----*/ :root {
  /* Colors */
  --pri: #aa469b;
  --sec: #7b3470;
  --ter: #f1c215;

  --bright: #e21164;

  --black: #261525;
  --white: #f3efe7;

  /* Font Stacks */
  --mainfont: "Raleway", sans-serif;
  --display: "choplin", serif;
  --displayLt: "choplin lt", serif;

  /* Sizing */
  --small: 5px;
  --smallish: 10px;
  --std: 20px;
}
