html {
  color: var(--black);
  background: var(--white);
}

body {
  display: grid;
  grid-template-rows: 1fr auto;
  min-height: 100vh;
  font-size: 1em;
  font-family: var(--mainfont);
  line-height: 1.4;
}


main {
  margin-top: 50px;
}


section {
  margin-top: var(--std);
}

article {
  padding: var(--std);
}

p {
  max-width: 37em;
  margin-top: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

blockquote {
  margin: 0;
  padding: 0;
}

cite {
  @extend %lower;
  font-weight: bold;
  font-style: normal;
}

hr {
  width: 90%;
  height: 1.3px;
  margin: 0 auto;
  background: var(--sec);
  border: none;
  opacity: 0.1;
}

img {
  max-width: 100%;
}

.warn {
  color: var(--bright);
  font-size: 1.4rem;
}

.ondark {
  color: var(--white);
}

@media (--mid) {
  main {
    margin-top: 100px;
  }
}
