<footer {% if navtitle == 'Home' or navtitle == 'Contact' %} class="ondark" {% endif %}  %>
  <small>
    Natasha Gonzales © 2019
  </small>
  {% set type = "ico" %}
  {% include "../components/social.njk" %}
</footer>
