<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title or renderData.title or metadata.title }}</title>
  <link rel="apple-touch-icon" sizes="180x180" href="/static/img/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon/favicon-16x16.png">
<link rel="manifest" href="/static/img/favicon/site.webmanifest">
  <script async src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  <link href="/_includes/assets/css/styles.css" rel="stylesheet" type="text/css">
  {% set js %}
    {% include "assets/js/inline.js" %}
  {% endset %}
  <script>{{ js | jsmin | safe }}</script>
        {% if permalink.includes('projects') %}
        <script src="/_includes/assets/js/simpleLightbox.min.js"></script>
      {% endif %}
</head>


