<nav {% if navtitle == 'Home' %} class="nav" {% else%} class="nav" {% endif %}>
			<a href="{{ '/' | url }}" class="logo">{% include "../components/logo.njk" %}</a>
			{% if navtitle == 'Home' %}
			<a href="{{ '/' | url }}" class="brand">
        <h1 class="site-title">Natasha <span>Gonzales</span></h1></a>
				{% else %}
				<a href="{{ '/' | url }}" ><span class="site-title">Natasha Gonzales</h1>
				{% endif %}
			</a>
  <ul class="menu">
  <li id="skip-link" class="skip"><a href="#skip-target">Skip to main content</a></li>
  {%- for nav in collections.nav | sort(attribute="date") -%}
    <li>
      <a href="{{ nav.url | url }}"{% if nav.url == page.url %} data-current="current item"{% endif %}>{{ nav.data.navtitle }}</a>
    </li>
  {%- endfor -%}
  </ul>
</nav>
