{% set links = [
  { name: 'twitter', icon: 'tumblr', link: 'https://twitter.com/ngonzalesdesign'},
  { name: 'tumblr', icon: 'tumblr', link: 'https://ngonzalesdesign.tumblr.com'},
  { name: 'tumblr', icon: 'tumblr', link: 'https://instagram.com/ngonzalesdesign'}
] %}


<ul class="social {{type}}">
  {% for link in links %}
    <li>
      <a href="{{ link.site }}">
        <img src="{{ link.icon }}" alt="{{ link.name }} icon"/>
        <span>whoo</span>
      </a>
    </li>
  {% endfor %}
</ul>