{% for testimonial in collections.testimonial %}
  <blockquote class="testimonial">
    <p>{{testimonial.templateContent | safe | striptags(true)}}</p>
    <cite>{{testimonial.data.name}}
      <a href="{{testimonial.data.site}}">{{testimonial.data.org}}</a>
    </cite>
</blockquote>
			

{% endfor %}