{% for testimonial in collections.testimonial %}
  <blockquote>
    <p>{{testimonial.templateContent | safe}}</p>
    <cite>{{testimonial.data.name}}
      <a href="{{testimonial.data.site}}">{{testimonial.data.org}}</a>
    </cite>
</blockquote>
			

{% endfor %}