---
title: About
date: 2017-01-01T00:00:00.000Z
permalink: /about/index.html
navtitle: About
tags:
  - nav
---

<section>
  <img src="" alt="Natasha Gonzales" />
  <blockquote> 
    <p>If you don't aim for the center, it's a waste of the art.</p>
    <cite>Dessa. "Fighting Fish". Parts of Speech.</cite>
  </blockquote>
</section>