---
title: About
date: 2017-01-01T00:00:00.000Z
permalink: /about/index.html
navtitle: About
tags:
  - nav
---

<section>
  <img src="" alt="Natasha Gonzales" />
  <blockquote> 
    <p>If you don't aim for the center, it's a waste of the art.</p>
    <cite>Dessa. "Fighting Fish". Parts of Speech.</cite>
  </blockquote>
  <p>I don't think anything quite captures the true essence of my Natasha-ness as the dozens of notebooks that I've gone through over the years. These were always filled with primarily three things: doodles, rewrite after rewrite of whatever story I had in my head at that time, and lists. What, exactly, made up these lists varied from tasks to story details to the cataloging of random trivia only 10 year old me found interesting.</p>

<p>Art, narrative, organization. That's basically what I come down to.  I love making things pretty, love the way colors and shapes and the way it all fits together creates its very own language. I love telling stories with that language. I love arranging things: information, words, art, so that it makes sense. So I became a designer, a job that allowed me to do all of these things. </p>

<p>I attended Sessions College for Professional Design, where I chose to specialize in web design. I'd already been learning HTML and CSS and had quickly fallen in love with writing code. It spoke directly to that systems-loving part of my brain and seeing a little bit of text I wrote make a whole website look and act differently was just so damn cool. </p>

<p>I also chose working with the web because I believe in the immense power that it has. While the web, particularly social media, has been integral to some terrible deeds and harmful shifts in culture, it's also done a lot of good . It's allowed for connections and opportunities never before possible, and getting to be a part of that, getting to help people be heard and make their mark, is one of the best parts of my job.</p>

<p>Some other info: I live in Colorado where, when not working, I mostly play with my dogs, stream tv, write, and irritate my best friend by rambling about the X-Men.</p>
</section>