---
layout: layouts/base.njk
title: Contact
tags:
  - nav
navtitle: Contact
section: contact
date: 2018-01-01
permalink: /contact/index.html
---

<section class="color-bg">
  <h3>Let's Talk</h3>
  {% include "../_includes/components/form.njk" %}
</section>

<aside>
 <p>follow on:</p>
 {% set type = 'named' %}
 {% include "../_includes/components/social.njk" %}
</aside>