---
layout: layouts/base.njk
title: Home
date: 2016-01-01T00:00:00.000Z
permalink: /
navtitle: Home
tags:
  - nav
---

<section>
  <p>Hello, I’m Natasha. I work with media and entertainment professionals to create unique and innovative web experiences.</p>
  <a href="/work" class="cta">See My Work</a>
</section>

<section>
  <h2>Beauty, Organized</h2>
  <div>
    <p>Hello, I’m Natasha. I work with media and entertainment professionals to create unique and innovative web experiences.</p>
    <aside class="listbox">
      <h3>Relavent Skills</h3>
      {% set items = ["HTML", "CSS", "Art Direction"] %}
      {% include "../_includes/components/listbox.njk" %}
    </aside>
  </div>
  <h2>Imagination, Come to Life</h2>
    <div>
    <p>Hello, I’m Natasha. I work with media and entertainment professionals to create unique and innovative web experiences.</p>
    <aside class="listbox">
      <h3>Relavent Skills</h3>
      {% set items = ["HTML", "CSS", "Art Direction"] %}
      {% include "../_includes/components/listbox.njk" %}
    </aside>
  </div>
  <h2>Ambition, Encouraged</h2>
    <div>
    <p>Hello, I’m Natasha. I work with media and entertainment professionals to create unique and innovative web experiences.</p>
    <aside class="listbox">
      <h3>Relavent Skills</h3>
      {% set items = ["HTML", "CSS", "Art Direction"] %}
      {% include "../_includes/components/listbox.njk" %}
    </aside>
  </div>
  <aside>
    <h2>Consulting Services</h2>
    <p>Hello, I’m Natasha. I work with media and entertainment professionals to create unique and innovative web experiences.</p>
  </aside>
</section>

<section>
  <h2>Success Stories</h2>

  <a href="/contact" class="cta">Let's Make Something Awesome</a>
</section>