---
layout: layouts/base.njk
title: Home
date: 2016-01-01T00:00:00.000Z
permalink: /
navtitle: Home
tags:
  - nav
---

<section>
  <p>Hello, I’m Natasha. I work with media and entertainment professionals to create unique and innovative web experiences.</p>
  <a href="/work" class="cta">See My Work</a>
</section>

<section>
  <h3>Beauty, Organized</h3>
  <div>
    <p>Hello, I’m Natasha. I work with media and entertainment professionals to create unique and innovative web experiences.</p>
    <aside class="listbox">
      <h4>Relavent Skills</h4>
      {% set items = ["HTML", "CSS", "Art Direction"] %}
      {% include "../_includes/components/listbox.njk" %}
    </aside>
  </div>
  <h3>Imagination, Come to Life</h3>
    <div>
    <p>Hello, I’m Natasha. I work with media and entertainment professionals to create unique and innovative web experiences.</p>
    <aside class="listbox">
      <h4>Relavent Skills</h4>
      {% set items = ["HTML", "CSS", "Art Direction"] %}
      {% include "../_includes/components/listbox.njk" %}
    </aside>
  </div>
  <h3>Ambition, Encouraged</h3>
    <div>
    <p>Hello, I’m Natasha. I work with media and entertainment professionals to create unique and innovative web experiences.</p>
    <aside class="listbox">
      <h4>Relavent Skills</h4>
      {% set items = ["HTML", "CSS", "Art Direction"] %}
      {% include "../_includes/components/listbox.njk" %}
    </aside>
  </div>
  <aside>
    <h3>Consulting Services</h3>
    <p>Hello, I’m Natasha. I work with media and entertainment professionals to create unique and innovative web experiences.</p>
  </aside>
</section>

<section>
  <h3>Success Stories</h3>
{% include "components/testimonials.njk" %}
  <a href="/contact" class="cta">Let's Make Something Awesome</a>
</section>