---
layout: layouts/base.njk
title: Home
date: 2016-01-01T00:00:00.000Z
permalink: /
navtitle: Home
---

<section class="atf">
  <p>Hello, I’m Natasha. I'm a designer/<wbr>developer who works with media and entertainment professionals to create unique and innovative web experiences.</p>
  <a href="/work" class="cta">See My Work</a>
</section>

<section>
<span> My work is...</span>
  <h3>Organized</h3>
  <div>
    <p>It's my top priority to create designs that flow elegantly. The best user experiences should be as effortless as possible and should engage but never overwhelm. I focus on creating frictionless structures and striking visuals.</p>
    <aside class="listbox">
      <h4 class="lb-head">Relevant Skills</h4>
      {% set items = ["HTML", "CSS Grid", "Art Direction"] %}
      {% include "../_includes/components/listbox.njk" %}
    </aside>
  </div>
  <h3>Ambitious</h3>
    <div>
    <p>The web allows us to do amazing things, and I believe in harnessing that power to build truly amazing websites. I use the robust capabilities of modern CSS and Javascript to build sites that stand out and truly do justice to all the hard work you've put into whatever product you've created. </p>
    <aside class="listbox">
      <h4 class="lb-head">Relevant Skills</h4>
      {% set items = ["CSS Blend Modes", "CSS Grid", "Javascript", "Web Animation", "HTML Canvas", "JAMstack Development", "React"] %}
      {% include "../_includes/components/listbox.njk" %}
    </aside>
  </div>
  <h3>Accessible</h3>
    <div>
    <p>One of the best thing's about the internet is it's ability to reach such a wide audience, and it's important that design and development don't lock any part of that audience out. I design and develop with the experiences of the disabled, overlooked, and disenfranchised prominently in mind. That means not only ensuring sites are usable with assitive technology but using imagery and language that's welcoming and accurately reflects the remarkable diversity of our world.</p>
    <aside class="listbox">
      <h4 class="lb-head">Relevant Skills</h4>
      {% set items = ["ARIA", "JAMstack Development", "UX Design", "Accessibility Standards"] %}
      {% include "../_includes/components/listbox.njk" %}
    </aside>
  </div>

</section>
<section class="color-bg services">
    <h3>Services</h3>
    <div>
      <h4 >Web Design & Development</h4>
      <p>I work with you to understand the story you want tell. From there we decide on a design system and I build you a beautiful, modern website where that story can reach the world.</p>
    </div>
    <div>
      <h4>Promotional Media</h4>
      <p>Whether you need graphics for your own site, social media, or another project entirely, I provide vibrant, eye-catching designs that make a lasting impression.</p>
    </div>
    <div>
      <h4>Consulting</h4>
      <p>If you're creating something on your own, but would like some guidance or only need help with a few particularly sticky problems, I'm available on a consultation basis as well.</p>
    </div>
  </section>

<section >
  <h3>Success Stories</h3>

<div class="testimonials">{% include "components/testimonials.njk" %}</div>

</section>
  <a href="/contact" class="cta cta-main">Let's Make Something Awesome</a>