---
layout: layouts/base.njk
title: Work
tags:
  - nav
navtitle: Work
date: 2017-01-01
permalink: /work/index.html
---
<h1 class="hidden">Work</h1>
<aside>

</aside>
<section>
{% set postslist = collections.projects %}
{% include "components/gallery.njk" %}
</section>


