.contactWrapper {
  max-width: 100vw;
  overflow: hidden;
  display: grid;
  justify-items: center;
}

.contactWrapper form {
  width: 260px;
}

.follow {
  display: flex;
  flex-direction: column;
  width: 260px;
  margin: 0 auto;
  text-align: center;
}

@media (--wide) {
  .contactWrapper form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: left;
    align-items: center;
    width: 100%;
    max-width: 600px;
  }

  .contactWrapper h3 {
    grid-row: span 2;
  }

  .button {
    margin-top: 0;
  }
}
