.atf {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.atf-nav{
  position: static;
}

.atf .brand {
 flex-direction: column;
}

.atf .logo {
  display: block;
  width: 30vh;
  margin: 0 auto;
}

.atf-content {
  align-items: center;
}

.services {
  display: grid;
  padding: var(--std);
}
