<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}
    
	{% if permalink.includes('404')  %}
	<body class="dark">
	{% else %}
	<body>
	{% endif %}

		<header>
			<a href="{{ '/' | url }}">
				<img src="/static/img/logo.svg" alt="logo for natasha gonzales design" class="logo"/>
				{% if navtitle == 'Home' %}
				<h1 class="site-title">Natasha <span>Gonzales</span></h1>
				{% else %}
				<span class="site-title">Natasha Gonzales</h1>
				{% endif %}
			</a>

			{% include "components/nav.njk" %}
				{% if permalink.includes('post')  %}
				<span class="cat-head">Blog</span>
				<h1>{{title}}</h1>
				{% elif permalink.includes('projects') %}
				<span class="cat-head">Work</span>
				<h1>{{title}}</h1>
				{% elif navtitle != 'Home' %}
				<h1 class="cat-head">{{title}}</h1>
				{% endif %}
		</header>

		<main>
			{{ layoutContent | safe }}
		</main>
	
		{% include "components/footer.njk" %}

	</body>

</html>
