<!doctype html>
	<html {% if permalink.includes('404')  %} class="invert" {% endif %} {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body>


		<header {% if navtitle == 'Home'  %} class="" {% else %} class="fixed" {% endif %}>


			{% include "components/nav.njk" %}
		</header>

		<main id="skip-target" {% if permalink.includes('post') or permalink.includes('blog') %} class="blog" {% endif %} >
			{{ layoutContent | safe }}
		</main>
	
		{% include "components/footer.njk" %}

		

      {% if permalink.includes('contact') %}
        <script src="/_includes/assets/js/form.js" defer></script>
      {% endif %}
	  {% if navtitle == 'Home' %}
        <script src="https://unpkg.com/intersection-observer@0.5.1/intersection-observer.js"> </script>
		<script src="https://unpkg.com/scrollama@2.0.0/build/scrollama.js"></script>
		<script src="/_includes/assets/js/scrollama.js"> </script>
      {% endif %}
<script src="/_includes/assets/js/bundle.js"> </script>
<svg width="0" height="0">
<defs>
<clipPath id="hdClip" clipPathUnits="objectBoundingBox" transform="scale(0.00135869565  0.00833333333 )">
<path d="M736 0L0 0V75.054C4.70038 75.5934 9.5741 76.3935 14.6256 77.467C95.0147 94.5506 189.453 84.385 287.858 73.7924H287.858C412.276 60.3996 543.036 46.3241 659.761 85.7781C695.049 97.7059 719.479 108.636 736 119.39V0Z" f/>
</clipPath>
</defs>
</svg>
	</body>
	

</html>
