---
layout: layouts/base.njk
section: blog
permalink: /blog/index.html
---




<aside class="blog-desc">
		<h2 class="h6">About the Blog</h2>
		<p>Writings of Natasha Gonzales. Mostly about design & web development, but some stuff on stories, culture, and social issues, too.</p>
		<hr>

		
		</aside>

		{{ layoutContent | safe }}
		

