---
layout: layouts/base.njk
section: post
---

<article>
  <h2>{{ title }}</h2>
  <section>
    <div class="gallery gal-project">
      {% for i in gallery %}
      <a href="{{i.image}}"><img src="{{i.image}}" alt="{{i.alt}}"/></a>
      {% endfor %}
    </div>
  <h3>In Brief</h3>
  {{summary}} 
  </section>

  {{ layoutContent | safe }}

  

</article>


